<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Broken App</title>

  {# Below is a tag #}
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'csbproject/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'brokenapp/style.css' %}">

  <style>
    {% block style %}{% endblock %}
  </style>

  <script>
    function logOut() {
      console.log('test')
    }
  </script>
</head>

<body>
  {% if logout != "hide" %}
  <form action="/logout/">
    <button id="logout" type="submit">
      Log out
    </button>
  </form>
  {% endif %}

  {% block body %}{% endblock %}
</body>
</html>