<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>

    {# Below is a tag #}
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'csbproject/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'csbproject/style.css' %}">

    <script>
      function updateFormTitle(title) {
        const form_title = document.getElementById("form-title");
        form_title.textContent = title
        showForm()
      }

      function showForm() {
        const form = document.getElementById('start-form')
        form.style.visibility = "visible"
        console.log('Wants to sign in')
      }

      function showPassword() {
        const input = document.getElementById("pswd-input");
        input.type = input.type === "password" ? "text" : "password";
      } 
    </script>
  </head>
  <body>
    <p>Heyaaaaa!</p>
    <p>
      This project contains a simple polling application based on the
      "Writing your first Django app" tutorial.
    </p>
    <p>Get started by clicking one of the buttons below.</p>
    {# Specifying type as button prevents the default behaviour of submitting a form #}
    <div class="button-wrapper">
      <button onclick="updateFormTitle('Register')" type="button">
        Register
      </button>
      <button onclick="updateFormTitle('Sign In')" type="button">
        Sign In
      </button>
    </div>

    {# the action attribute defines the URL to which form data should be sent #}
    <form id="start-form"
      action="{% url 'register' %}" method="post"
    >
      {# {% csrf_token %} #}
      <h2 id="form-title">Form</h2>
      <ul>
        <li>
          <label>Username:</label>
          <input class="form-input" type="text">
        </li>
        <li>
          <label>Password:</label>
          <input class="form-input" id="pswd-input" type="password">
        </li>
      </ul>
      <div class="show-pswd">
      <input type="checkbox" onclick="showPassword()">Show Password 
      </div>
      <input class="submit-btn" type="submit" value="Submit">
    </form>
  </body>
</html>